<a href="https://colab.research.google.com/github/inseoo/BP_05_Ch6/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 2부터 100 사이의 모든 짝수를 출력하는 반복 루프를 작성한다.

In [2]:
for i in range(2, 101):
  if i%2==0:
    print(i, end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

2. 어떤 사람이 복리이자율 7%로 100만원을 저금했을 경우에 2000만원이 되는데 몇 년이 걸리는지 계산하기 위하여 다음과 같은 코드를 작성하였다. 잘못된 점은 없는지 체크해보자.

In [3]:
year=0
balance=1000

while balance <= 2000:
  year = year+1
  interest = balance*0.07
  balance = balance+interest
print(year, "년이 걸립니다.")

11 년이 걸립니다.

3. 다음 코드으 출력을 예상해보자. 각 단계에서 변수의 값을 예상해보시오.

In [5]:
n=1234
sum=0
while n>0:
  digit=n%10
  sum=sum+digit
  n=n//10
print(sum)

10

4. 사용자에게 곱셈 퀴즈를 내고 답을 사용자로부터 받는 프로그램에서 사용자가 올바른 답을 입력할 때까지 반복하도록 수정하여 보자.

In [6]:
ans=0
while ans !=3*9:
  ans=int(input("3*9는"))
print("맞았습니다.")

3*9는8
3*9는9
3*9는27
맞았습니다.

5. 사용자가 입력한 정수의 합을 계산하는 프로그램을 작성하자. 사용자가 0을 입력하기 전까지 정수를 계속하여 읽도록 한다.

In [8]:
sum=0
while True:
  x=int(input("정수를 입력하시오: "))
  if x==0:
    break;
  sum=sum+x

print("합은", sum, "입니다.")

정수를 입력하시오: 1
정수를 입력하시오: 2
정수를 입력하시오: 3
정수를 입력하시오: 0
합은 6 입니다.

6. 난수 생성 함수를 사용하여서 2개의 주사위를 던졌을 때 나오는 수를 다음과 같이 출력하여 보자.

In [9]:
from random import randint

for i in range(3):
  d1=randint(1, 6)
  d2=randint(1, 6)
  print("첫 번째 주사위=", d1, "두 번째 주사위=", d2)

첫 번째 주사위= 2 두 번째 주사위= 1
첫 번째 주사위= 6 두 번째 주사위= 3
첫 번째 주사위= 3 두 번째 주사위= 6